.parent {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'child1 child1';
  background-color: bisque;
  height: 500px;
  width: 500px;
}
.child1 {
  background-color: red;
}
.child2 {
  background-color: black;
}
.child3 {
  background-color: aquamarine;
}
.child4 {
  background-color: blueviolet;
}
.child5 {
  background-color: brown;
}
.child6 {
  background-color: chocolate;
}
