.container {
  width: 200px;
  height: 200px;

  position: absolute;
  /* top: 50%;
  left: 50%; */
  transition: 2s;
}
.ellipses {
  width: 100%;
  height: 50px;
  border: 2px solid aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: 1s;
  border-radius: 50%;
}
.container:hover {
  transform: rotate(360deg);
}
.ellipses1 {
  transform: translate(-50%, -50%) rotate(60deg);
}
.ellipses2 {
  transform: translate(-50%, -50%) rotate(120deg);
}
.ellipses3 {
  transform: translate(-50%, -50%) rotate(180deg);
}
.disc {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: aqua;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
